* {
  margin: 0;
  padding: 0;
}

div.container {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0px;
  font-family: sans-serif;
}

navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7501a4;
}

navbar li {
    float: left;
}

navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

navbar li a:hover:not(.active) {
    background-color: #500071;
}

.active {
    background-color: #500071;
}

.logout {
  background-color: #620886;
}

kiri {
  margin: 50px 0px 0px 300px;
  float: left;
  max-width: 10%;
}

kiri img {
  margin: 20px 0px;
  width: 100%;
  height: auto;
}

kanan {
  margin-top: 70px;
  float: left;
  width: 50%;
  padding: 0px 40px;
}

kanan ul {
  list-style-type: none;
}

kanan h3 {
  border-width: auto;
  padding: 13px;
  border: solid 5px #c9c9c9;
}

footer {
  float: left;
  margin-top: 70px;
  font-size: 12px;
  color: #757575;
}

footer a {
  text-decoration: none;
  color: #7501a4;
}
